.single-testimonial article.testimonial { margin: 0 auto; max-width: 585px; }

.single-testimonial .entry-tabs .tab-pane { padding: 4rem; }

@media (min-width: 768px) { .single-testimonial .entry-tabs .tab-pane { padding: 4rem 2rem; } }

.single-testimonial .entry-tabs .nav-tabs { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; border-bottom: 0 none; margin: 4.25rem 0; padding-right: 0; }

.single-testimonial .entry-tabs .nav-tabs:before, .single-testimonial .entry-tabs .nav-tabs:after { display: none; }

@media (min-width: 768px) { .single-testimonial .entry-tabs .nav-tabs { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; } }

.single-testimonial .entry-tabs .nav-tabs > li { margin-bottom: 0; width: 100%; }

@media (min-width: 768px) { .single-testimonial .entry-tabs .nav-tabs > li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; max-width: 350px; } }

@media (min-width: 768px) { .single-testimonial .entry-tabs .nav-tabs > li + li { margin-right: 5px; } }

.single-testimonial .entry-tabs .nav-tabs > li > a { border: 0 none; border-radius: 0; font-size: 16px; margin: 0; padding: 1rem 0; text-align: center; transition: all 300ms ease; }

@media (min-width: 768px) { .single-testimonial .entry-tabs .nav-tabs > li > a { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

@media (min-width: 992px) { .single-testimonial .entry-tabs .nav-tabs > li > a { font-size: 22px; } }

.single-testimonial .entry-tabs .nav-tabs > li.active > a { border: 0 none; position: relative; }

@media (min-width: 768px) { .single-testimonial .entry-tabs .nav-tabs > li.active > a:after { content: ''; border-style: solid; border-width: 0 6px 6px 6px; bottom: 0; height: 0; right: 50%; position: absolute; -webkit-transform: translateX(50%); transform: translateX(50%); width: 0; } }

@media (min-width: 768px) and (min-width: 992px) { .single-testimonial .entry-tabs .nav-tabs > li.active > a:after { border-width: 0 9px 9px 9px; } }

.single-testimonial .lsx-testimonials-avatar { border-radius: 50%; display: block; height: 100px; margin: 0 auto 10px; overflow: hidden; width: 100px; }

.single-testimonial .lsx-testimonials-meta-wrap { display: block; font-size: 13px; margin-top: 1.2rem; text-align: center; }

.single-testimonial .lsx-testimonials-meta-wrap > .lsx-testimonials-meta { margin: 0 4px; }

.single-testimonial .lsx-testimonials-content { max-width: none; }

.widget.lsx-testimonials .tagline + .lsx-testimonials-shortcode { margin-top: 0; }

.lsx-testimonials-archive-link-wrap { position: relative; margin-top: 6rem; overflow: hidden; }

.lsx-testimonials-archive-link { display: inline-block; position: relative; }

.lsx-testimonials-archive-link:before, .lsx-testimonials-archive-link:after { content: ''; display: block; height: 2px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 999rem; }

.lsx-testimonials-archive-link:before { left: 120%; }

.lsx-testimonials-archive-link:after { right: 120%; }

.lsx-testimonials-shortcode { margin-top: -4rem; }

.lsx-testimonials-slot { margin-top: 4rem; }

@media (min-width: 768px) { .lsx-testimonials-slot:only-child { float: none; margin-right: auto !important; margin-left: auto !important; max-width: 585px; width: 100% !important; } }

.lsx-testimonials-slot .lsx-testimonials-avatar { border-radius: 50%; display: block; height: 100px; margin: 0 auto 2rem; overflow: hidden; width: 100px; }

.lsx-testimonials-slot .lsx-testimonials-title { margin-bottom: 0; text-align: center; }

.lsx-testimonials-slot .lsx-testimonials-content { margin-bottom: 2rem; margin-top: calc(25px + 1.2rem); width: 100%; }

@media (min-width: 992px) { .lsx-testimonials-slot .lsx-testimonials-content { margin-top: calc(30px + 1.2rem); max-width: none; } }

.lsx-testimonials-slot .lsx-testimonials-content .moretag { font-size: 15px; font-style: normal; }

.lsx-testimonials-slot .lsx-testimonials-content .moretag:after { content: '\f178'; display: inline-block; font-family: 'FontAwesome'; font-size: inherit; margin-right: 5px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.lsx-testimonials-slot .lsx-testimonials-meta-wrap { display: block; font-size: 13px; margin-top: 1.2rem; text-align: center; }

.lsx-testimonials-slot .lsx-testimonials-meta-wrap > .lsx-testimonials-meta { margin: 0 4px; }

@media (min-width: 992px) { #lsx-testimonials-slider { margin-right: auto; margin-left: auto; width: 100%; }
  #lsx-testimonials-slider.slick-has-arrows { width: calc(100% - 8rem); } }

@media (min-width: 1280px) { #lsx-testimonials-slider { margin-right: -15px; margin-left: -15px; width: calc(100% + 30px); }
  #lsx-testimonials-slider.slick-has-arrows { width: calc(100% + 30px); } }

.tab-pane #lsx-testimonials-slider, .tab-pane-fake #lsx-testimonials-slider { margin-right: -15px; margin-left: -15px; }

@media (min-width: 768px) { .tab-pane #lsx-testimonials-slider, .tab-pane-fake #lsx-testimonials-slider { margin-right: auto; margin-left: auto; width: 100%; }
  .tab-pane #lsx-testimonials-slider.slick-has-arrows, .tab-pane-fake #lsx-testimonials-slider.slick-has-arrows { width: calc(100% - 8rem); } }

#lsx-testimonials-slider .lsx-testimonials-slot.slick-slide { margin-right: 15px; margin-left: 15px; }

#lsx-testimonials-slider .slick-dots { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; height: auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; list-style: none; margin: 2rem 0 0; padding: 0; }

#lsx-testimonials-slider .slick-dots > li { line-height: 1; padding: 5px; }

@media (min-width: 992px) { #lsx-testimonials-slider .slick-dots > li { padding: 0 7.5px; } }

#lsx-testimonials-slider .slick-dots > li > button { background: transparent; border-style: solid; border-width: 1px; font: 0/0 a; height: 12px; transition: all 300ms ease-in-out; width: 4rem; }

@media (min-width: 992px) { #lsx-testimonials-slider .slick-dots > li > button { height: 6px; } }

#lsx-testimonials-slider .slick-arrow { background: transparent; border-radius: 50%; border-style: solid; border-width: 2px; font: 0/0 a; height: 4rem; margin-top: calc((2rem - 17px) / 2); opacity: 1; padding: 0; position: absolute; text-shadow: none; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); transition: border 300ms ease; width: 4rem; z-index: 3; }

#lsx-testimonials-slider .slick-arrow:before { display: block; font-family: 'FontAwesome'; font-size: 3rem; line-height: 1; position: absolute; text-rendering: auto; top: 47%; -webkit-transform: translateY(-50%); transform: translateY(-50%); transition: color 300ms ease; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

#lsx-testimonials-slider .slick-arrow.slick-disabled { cursor: not-allowed; }

#lsx-testimonials-slider .slick-arrow.slick-prev { right: -4rem; }

#lsx-testimonials-slider .slick-arrow.slick-prev:before { content: '\f104'; right: 1.1rem; }

#lsx-testimonials-slider .slick-arrow.slick-next { left: -4rem; }

#lsx-testimonials-slider .slick-arrow.slick-next:before { content: '\f105'; right: 1.5rem; }

.post-type-archive-testimonial .lsx-testimonials-container:last-of-type .lsx-testimonials-slot, .post-type-archive-testimonial .lsx-testimonials-container:only-of-type .lsx-testimonials-slot { margin-bottom: 0; }

.post-type-archive-testimonial .lsx-testimonials-slot { margin: 0 0 8.5rem; text-align: center; }

.post-type-archive-testimonial .lsx-testimonials-slot .lsx-testimonials-title { margin-bottom: 5px; }

.post-type-archive-testimonial .lsx-testimonials-slot .lsx-testimonials-content { margin-top: calc(25px + 1.2rem); border-color: #dadddf; }

@media (min-width: 992px) { .post-type-archive-testimonial .lsx-testimonials-slot .lsx-testimonials-content { margin-top: calc(30px + 1.2rem); } }

.single-testimonial .entry-tabs .tab-pane { background-color: #FFF; }

.single-testimonial .entry-tabs .nav-tabs > li > a { background-color: #FFF; }

.single-testimonial .entry-tabs .nav-tabs > li > a:hover { background-color: #FFF; }

.single-testimonial .entry-tabs .nav-tabs > li.active > a { background-color: #418AD0; color: #FFF; }

.single-testimonial .entry-tabs .nav-tabs > li.active > a:after { border-color: transparent transparent #F6F6F6 transparent; }

.content-area .lsx-testimonials-title > a:not(.btn), .content-area .lsx-testimonials-title > a:not(.btn):active, .content-area .lsx-testimonials-title > a:not(.btn):visited { color: #4A4A4A; }

.content-area .lsx-testimonials-title > a:not(.btn):hover, .content-area .lsx-testimonials-title > a:not(.btn):hover:active, .content-area .lsx-testimonials-title > a:not(.btn):focus { color: #F7AE00; }

.content-area .lsx-testimonials-meta-wrap { color: #919191; }

.content-area .lsx-testimonials-archive-link:before, .content-area .lsx-testimonials-archive-link:after { background-color: #DADDDF; }

.content-area #lsx-testimonials-slider .slick-dots > li > button { border-color: #4A4A4A; }

.content-area #lsx-testimonials-slider .slick-dots > li.slick-active > button { background-color: #4A4A4A; }

.content-area #lsx-testimonials-slider .slick-arrow { border-color: #4A4A4A; color: #4A4A4A; }

.content-area #lsx-testimonials-slider .slick-arrow:hover { border-color: #F7AE00; color: #F7AE00; }

.content-area #lsx-testimonials-slider .slick-arrow.slick-disabled { border-color: #DADDDF; color: #DADDDF; }
